*{
    margin: 0%;
    padding: 0%;
}
.contaner{
    /* background-color: aquamarine; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
